body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  text-align: center;
  background-color: ghostwhite;
  height: 100%;
  width: 100%;
}

#artistInput {
  color: black;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

#streamHeader {
  color: black;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

#artistInput::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  color: gainsboro;
}

#artistLabel {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin-right: 20px;
}

#submitBut {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 30px;
  margin-left: 20px;
}

li {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  display: flex;
  align-items: center;
}